/* PAGE-WIDE STYLES */

html {
  font-family: "Muli", sans-serif;
  background-color: #ddd;
  font-size: 16px;
}

a {
  color: #bd3613;
}

p {
  margin: 0.9em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
}

.source-link img {
  width: 1.5em;
  height: 1.5em;
}

.time-span {
  font-size: 0.8em;
  font-style: italic;
  font-family: "Droid Serif", Georgia, serif;
  margin-top: 0.5em;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

/* TAGS */

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.tags li {
  display: block;
  background-color: #819090;
  padding: 0.4em 0.6em;
  color: white;
  font-size: 0.75em;
  border-radius: 0.4em;
  margin: 0 0.4em 0.4em 0;
  white-space: nowrap;
}

.role-tags li {
  background-color: #217ac7;
}

.tags .ruby {
  background-color: #d11c24;
}

.tags .js {
  background-color: #595ab7;
}

.tags .java {
  background-color: #738a05;
}

.tags .php {
  background-color: #2aa198;
}

.tags .db {
  background-color: #cb4b16;
}

.tags .snomed-ct {
  background-color: #5975b7;
}

.tags .fhir {
  background-color: #b77a59;
}

.tags .modelling {
  background-color: #59a1b7;
}

.tags .c {
  background-color: #b75973;
}

.tags .http {
  background-color: #c7ac21;
}

.tags .deploy {
  background-color: #819090;
}

/* MAIN LAYOUT */

#header,
#content {
  box-sizing: border-box;
  max-width: 94em;
  min-width: 25em;
}

/* PAGE HEADER */

#header {
  position: fixed;
  width: 100%;
  padding: 1.25em 2em 3em;
  background-color: white;
  height: 10.6em;
  border-bottom: 1.25em solid #ddd;
}

#header .title h1 {
  margin: 0 0 0.4em;
}

#header .title h2 {
  font-family: "Droid Serif", Georgia, serif;
  font-style: italic;
  font-size: 1em;
  font-weight: normal;
}

#header .contact {
  margin-bottom: -0.6em;
  font-size: 0.85em;
}

#header .my-avatar {
  float: right;
  position: relative;
  top: -0.25em;
  width: 7.5em;
  height: 7.5em;
}

/* MAIN CONTENT AREA */

#content {
  padding-top: 10.6em;
  grid-template: auto / 65% 35%;
  display: grid;
  width: 100%;
}

#content p {
  line-height: 1.6em;
}

.facet header {
  margin-bottom: 1em;
}

.facet > header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

.facet > header > h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

/* EXPERIENCE */

#experience {
  grid-column: 1 / 2;
  border-right: 1.25em solid #ddd;
}

#experience h4 {
  font-size: 1.25em;
  margin: 0 0 0.6em;
}

#experience h5 {
  font-size: 1.15em;
  margin: 0 0 0.5em;
  /* white-space: nowrap; */
}

#experience > header {
  padding: 1em 2em;
  background-color: white;
}

#experience .position,
#experience > .project {
  padding: 2em;
  background-color: white;
  margin-bottom: 1.25em;
}

#experience > .project header,
#experience > .position .project header {
  display: flex;
  flex-wrap: wrap;
}

#experience > .project header .tags,
#experience > .position .project header .tags {
  margin-bottom: 0.5em;
}

#experience > .position .project header {
  margin: 2em 0 0.5em;
}

#experience > .project header h4,
#experience > .position .project header h5 {
  margin-right: 1.5em;
}

#experience > .project header .source-link,
#experience > .position .project header .source-link {
  margin-right: 1em;
  margin-left: -0.8em;
}

#experience > .position .project {
  margin-left: 1.5em;
}

#experience > .project .time-span {
  width: 100%;
  margin: 0 0 1em;
}

/* RECOMMENDATIONS */

#recommendations > header {
  padding: 1em 2em;
  background-color: white;
}

.recommendation {
  background-color: white;
  padding: 2em;
  margin-bottom: 1.25em;
  overflow: hidden;
}

.recommendation .content {
  margin-bottom: 2em;
}

.recommendation .name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.recommendation .date {
  color: #666;
  margin-top: 0.8em;
  font-size: 0.75em;
}

.recommendation .avatar {
  float: left;
  margin-right: 1em;
  width: 5em;
  height: 5em;
}

@media (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 13px;
  }
  #content {
    display: block;
  }
  #experience {
    border-right: 0;
  }
}
