html {
  font-family: "Muli", sans-serif;
  background-color: #ddd;
}
body > header {
  padding: 20px 32px 50px;
  background-color: white;
  position: relative;
}
body > main {
  border-bottom: 60px solid #ddd;
}
body > header,
body > main {
  box-sizing: border-box;
  max-width: 1500px;
}
a {
  color: #bd3613;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.avatar.my-avatar {
  position: absolute;
  top: 16px;
  right: 32px;
}
.avatar {
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
}
.separator {
  height: 20px;
  background-color: #ddd;
}
.separator-thin {
  height: 1px;
  background-color: #ddd;
  margin: 14px 0;
}
.annotation {
  font-size: 14px;
}

.contact {
  margin-bottom: -26px;
  font-size: 14px;
}
.title h1 {
  margin: 0 0 6px;
}
.title h2 {
  font-family: "Droid Serif", Georgia, serif;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}

main > section {
  float: left;
  box-sizing: border-box;
  background-color: white;
}

main > section > header,
main > section > section {
  padding: 0 32px;
}

section#experience {
  width: 65%;
  border-right: 20px solid #ddd;
  padding-bottom: 20px;
}

section#recommendations {
  width: 35%;
  padding-bottom: 20px;
}

section section header {
  margin: 28px 0 0;
}
section section section header {
  margin: 36px 0 -9px;
}
.tagged {
  display: flex;
}

section h4 {
  font-size: 20px;
  margin: 0 0 6px;
}
.time-span {
  font-size: 13px;
  font-style: italic;
  font-family: "Droid Serif", Georgia, serif;
}

section section section {
  margin-left: 24px;
}

section h5 {
  float: left;
  font-size: 18px;
  margin: 0 0 8px;
  white-space: nowrap;
}
section p {
  line-height: 1.6em;
}

section .separator {
  margin-top: 30px;
}

.clear {
  clear: both;
}

.tags {
  display: flex;
  padding: 0;
  margin: 0;
}
.tags li {
  display: block;
  float: left;
  background-color: #819090;
  padding: 4px 5px 5px;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}
header .tags {
  margin-left: 26px;
}

main > section > section > .tags,
main > section > section > header > .tags {
  margin: 4px 0;
}

.source-link {
  margin: 0 -12px 0 12px;
  width: 47px;
}

.tags .architecture,
.tags .software-development,
.tags .product-management,
.tags .requirements,
.tags .project-management,
.tags .systems-administration,
.tags .stakeholder-engagement,
.tags .data-analysis,
.tags .project-management,
.tags .data-warehousing,
.tags .reporting,
.tags .information-architecture,
.tags .data-modelling {
  background-color: #217ac7;
}

.tags .ruby,
.tags .ruby-on-rails,
.tags .rspec {
  background-color: #d11c24;
}
.tags .javascript,
.tags .jquery,
.tags .angular,
.tags .react,
.tags .redux,
.tags .flow,
.tags .node,
.tags .express,
.tags .jest,
.tags .d3,
.tags .webpack {
  background-color: #595ab7;
}
.tags .java,
.tags .spring {
  background-color: #738a05;
}
.tags .php,
.tags .cakephp {
  background-color: #2aa198;
}
.tags .solr {
  background-color: #738a05;
}
.tags .aws {
  background-color: #a57706;
}
.tags .postgresql,
.tags .mysql,
.tags .sql {
  background-color: #cb4b16;
}
.tags .snomed-ct {
  background-color: #5975b7;
}
.tags .fhir {
  background-color: #b77a59;
}
.tags .rest,
.tags .soap {
  background-color: #7fb759;
}
.tags .bpmn,
.tags .uml {
  background-color: #59a1b7;
}
.tags .c,
.tags .c-plus-plus {
  background-color: #b75973;
}
.tags .apache,
.tags .nginx {
  background-color: #c7ac21;
}
.tags .linux,
.tags .docker {
  background-color: #819090;
}
.tags .puppet {
  background-color: #7db759;
}

section section p {
  clear: left;
}

.recommendation-content {
  margin-bottom: 20px;
}
.recommendation-name {
  font-weight: bold;
  margin-bottom: 3px;
}
.recommendation-date {
  color: #666;
  margin-top: 6px;
  font-size: 12px;
}
.recommendation .avatar {
  float: left;
  margin-right: 16px;
}
